* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ddd;

  .App-logo {
    font-size: 18px;
    font-weight: bold;
    flex-basis: 50%;
    padding-left: 10px;
  }

  .App-navigation {
    flex-basis: 50%;

    &__list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    &__list-item {
      padding: 5px 10px;
    }

    &__list-item a {
      color: #222;
      text-decoration: none;
      cursor: pointer;
    }

    &__list-item a:hover {
      color: #22B8C1;
    }

    &__list-item--active {
      color: #22B8C1;
    }
  }
}

.App-content {
  max-width: 1091px;
  background-color: #ddd;
  color: #333;
  padding: 32px;
  margin-top: 48px;

  &__title {
    margin: 0;
    padding-bottom: 32px;
    font-size: 28px;
  }

  &__copy {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
